.taskContainer {
  background-color: lightsteelblue;
  margin: 0.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskForm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
